body {
	font-size: 100%;
}

img {
	width: 100%;
}



.navbar {
	margin-bottom: 0px;
}

.navbar-fixed-top .container {
	width: 100%;
}

.navbar .brand {
	margin-left: 0;
}

.navbar .title {
	padding: 10px 90px 10px;
	margin: 0;
	font-size: 1.25em;
	color: #999;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	text-align:center;
}

.dropdown-menu>li>hr {
	margin-top: 1px;
	margin-bottom: 1px;
}

.icon-blank {
	width: 16px;
}

header {
	font-size: 0.875em;
}

footer p {
	text-align: center;
	font-size: 0.75em;
}

/* ---- FEEDS PAGE ---- */

#feeds.container {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

ul.feeds {
	margin-left: 0;
	font-size: 0.875em;
}

ul.feeds li {
	list-style: none;
	border-bottom: thin solid;
	padding-top: 8px;
	padding-bottom: 8px;
}

ul.feeds li i {
	margin-right: 4px;
	margin-left: 4px;
}

ul.feeds li.unread {
	font-weight: bold;
}

.count {
	margin-right: 5px;
}

ul.items {
	margin-left: 0;
}

ul.items li {
	list-style: none;
	border-bottom: thin solid;
}

.item-star {
	float:left;
}

.item-text {
	margin-left:16px;
}

.item-text p {
	margin-bottom: 0;
}

img.loading {
	max-width: 16px;
}

/* ---- SETTINGS PAGE ---- */

#settings.container {
	margin-left: 4px;
	margin-right: 4px;
	width: 100%;
}

@media ( max-width : 979px) {
	.navbar-fixed-top .navbar-inner {
		padding: 0;
	}
	.navbar .brand {
		padding: 10px 20px 10px;
		margin: 0;
	}
}

@media ( max-width : 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-fixed-top {
		margin-right: 0;
		margin-left: 0;
	}
}